<script type="text/javascript">
    $(document).ready(function(){
        list();
    $(".add").click(function(){
        $(".modal-simpan").modal("show")
        clearForm()
    })
    $(".simpan").click(function(){
        simpan();
    })
    $(".hapus").click(function(){
      var id = $("[name='id']").val()
      Swal.fire({
        title: "Do you want to delete?",
        showCancelButton: true,
        confirmButtonText: "Yes",
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          hapus(id)
          Swal.fire("Saved!", "", "success");
        }
      });
    })

    $(".list").on("click","tr#data",function(){
      var id = $(this).attr("kode");
      detail(id);
    })
    });
    function clearForm() {
      $("[name='id']").val('');
      $("[name='nama_shifts']").val('');
      $("[name='jam_awal']").val('');
      $("[name='jam_akhir']").val('');
    }
    function simpan(){
    var nama_shifts = $("[name='nama_shifts']").val();
    var id = $("[name='id']").val();
    var jam_awal = $("[name='jam_awal']").val();
    var jam_akhir = $("[name='jam_akhir']").val();
    var status = $("[name='status']").val();
    if (id!=""){
      var url = '<%= url %>editemployee_shifts';
    } else {
      var url = '<%= url %>simpanemployee_shifts';
    }
    var formData = {
	  nama_shifts : nama_shifts,
      id : id,
      jam_awal : jam_awal,
      jam_akhir : jam_akhir,
      status : status
		}
		$.ajax({
        url: url,
        type: 'post',
        data: formData,
        success: function (data) {
					Swal.fire({
					  title: "Berhasil",
					  text: "Data berhasil "+(id=="" ? "disimpan" : "diedit"),
					  icon: "success",
            position: "top-end",
            showConfirmButton: false,
            timer: 1500
					});
          $(".modal-simpan").modal("hide");
        },
        error: function (data) {
          console.log(data)
        }
    }).done(function(){
      list();
    })
  }
  function hapus(id){
    var url = '<%= url %>hapusemployee_shifts';
    var formData = {
      id : id
		}
		$.ajax({
        url: url,
        type: 'post',
        data: formData,
        success: function (row) {
          Swal.fire({
            position: "top-end",
					  title: "Berhasil",
					  text: "Data berhasil dihapus",
					  icon: "info",
            showConfirmButton: false,
            timer: 1500
					});
          list();
          $(".modal-simpan").modal("hide");
        },
        error: function (data) {
          console.log(data)
        }
    })
  }

  function list(){
    $(".loadingdata").show();
    var html = "";
		$.ajax({
				url: '<%= url %>listemployee_shifts',
				type: 'post',
				success: function (result) {
					var val = result.data;
          if (result.jml>0){
            html += "<table class='table table-hover'>";
            html += "<thead>";
            html += "<tr class='bg-navy'>";
            html += "<th width='50px'>No.</th>";
            html += "<th>Nama Shifts</th>";
            html += "<th>Jam Awal</th>";
            html += "<th>Jam Akhir</th>";
            html += "<th width='100px'>Status</th>";
            html += "</thead>";
            html += "<tbody>";
            $.each(val,function(i,row){
              html += "<tr id='data' kode='"+row.id+"'>";
              html += "<td>"+(i+1)+"</td>";
              html += "<td>"+row.nama_shifts+"</td>";
              html += "<td>"+row.jam_awal+"</td>";
              html += "<td>"+row.jam_akhir+"</td>";
              html += "<td>"+(row.status==1 ? "<label class='badge label label-success'>AKTIF</label>" : "<label class='badge label label-danger'>NON AKTIF</label>")+"</td>";
              html += "</tr>";
            });
            html += "</tbody>";
            html += "</table>";
          } else {
            html += "<div class='alert alert-warning'>Data tidak ditemukan</div>";
          }
          $(".list").html(html);
					console.log(val);
				},
				error: function(data){
					console.log(data);
				}
		});
  }
  function detail(id){
    var url = '<%= url %>detailemployee_shifts';
    var formData = {
      id : id
		}
		$.ajax({
        url: url,
        type: 'get',
        data: formData,
        success: function (row) {
          var val = row.data[0];
		  $("[name='id']").val(val.id);
          $("[name='nama_shifts']").val(val.nama_shifts);
          $("[name='jam_awal']").val(val.jam_awal);
          $("[name='jam_akhir']").val(val.jam_akhir);
          $("[name='status']").val(val.status);
          $(".modal-simpan").modal("show");
          console.log(val);
        },
        error: function (data) {
          console.log(data)
        }
    })
  }


</script>
<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
			<div class="box-header with-border">
        <h3 class="box-title">&nbsp;Employee Shifts</h3>
        <div class="box-tools pull-right">
            <button class="add no-border btn-success btn-sm"><i class="fa fa-plus"></i>&nbsp;Add</button>
        </div>
      </div>
			<div class="box-body">
        <div class="row">
          <div class="clearfix">&nbsp;</div>
				  <div class="col-xs-12">
            <div class="list table-responsive"></div>
          </div>
        </div>
      </div>
		</div>
	</div>
</div>
<div class='modal modal-simpan no-print' role="dialog">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class='modal-title'><i class="icon fa fa-warning"></i>&nbsp;&nbsp;Floor</h4>
            </div>
            <div class='modal-body'>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-8">
                            <input type="hidden" name="id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Nama Shifts</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="nama_shifts">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Jam Awal</label>
                        <div class="col-md-9">
                            <input type="time" class="form-control" name="jam_awal">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Jam Akhir</label>
                        <div class="col-md-9">
                            <input type="time" class="form-control" name="jam_akhir">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Status</label>
                        <div class="col-md-9">
                            <select class="form-control" name="status">
                              <option value="1">AKTIF</option>
                              <option value="0">NON AKTIF</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <div class="pull-right">
                    <button class="simpan btn bg-blue"><i class="fa fa-save"></i>&nbsp;Save</button>
                    <button class="hapus btn bg-red"><i class="fa fa-minus"></i>&nbsp;Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
