<script>
  $(document).ready(function () {
    list();
    ispersen();

    //format number
    
    $(".add").click(function () {
      $(".modal-simpan").modal("show");
      clearForm();
      extracharge_group()
      $("input[name='is_persen'][value='0']").prop("checked", true)
      $('#price-label').text('Price');
      $('#percentage-symbol').hide();
    });
    $(".simpan").click(function () {
      simpan();
      
    });
    $(".hapus").click(function () {
      var id = $("[name='id']").val();
      if (id) {
        Swal.fire({
          title: "Do you want to delete?",
          showCancelButton: true,
          confirmButtonText: "Yes",
        }).then((result) => {
          if (result.isConfirmed) {
            hapus(id);
            Swal.fire("Deleted!", "The rate has been deleted.", "success");
          }
        });
      } else {
        Swal.fire("Error", "No record selected to delete.", "error");
      }
    });

    $(".list").on("click", "tr#data", function () {
      var id = $(this).attr("kode");
      detail(id);
    });
  });
  //detail
  function detail(id) {
    var url = "<%= url %>detailcharge";
    var formData = { id: id };

    $.ajax({
      url: url,
      type: "GET",
      data: formData,
      success: function (row) {
        var val = row.data[0];
        $("[name='id']").val(val.id);
        extracharge_group(val.id_extragroup);
        $("[name='extracharge_type']").val(val.extracharge_type);
        $("[name='nama_extracharge']").val(val.nama_extracharge);
        $("input[name='is_persen'][value='"+ val.is_persen + "']").prop("checked", true);
        if(val.is_persen == '1'){
          $('#price-label').text('Percentage %');
        $('#price').attr('placeholder', 'Enter percentage');
        $('#percentage-symbol').show();// Tampilkan simbol persentase
        }else{
          $('#price-label').text('Price');
        $('#price').attr('placeholder', 'Enter price');
        $('#percentage-symbol').hide();  // Sembunyikan simbol persentase
        }
        $("[name='price']").val(val.price);
        $("[name='status']").val(val.status);
        $(".modal-simpan").modal("show");
      },
      error: function (data) {
        console.log(data);
      },
    });
  }
  function clearForm() {
      $("[name='id']").val('');
      $("[name='id_extragroup']").empty();
      $("[name='nama_extracharge']").val('');
      $("[name='price']").val('');
    }
  
  //hapus
  function hapus(id) {
    var url = "<%= url %>hapuscharge";
    var formData = { id: id };

    $.ajax({
      url: url,
      type: "post",
      data: formData,
      success: function (row) {
        Swal.fire({
          position: "top-end",
          title: "Success",
          text: "Data has been deleted.",
          icon: "info",
          showConfirmButton: false,
          timer: 1500,
        });
        list();
        $(".modal-simpan").modal("hide");
      },
      error: function (data) {
        console.log(data);
      },
    });
  }
  //ispersen
  function ispersen(){
    $('input[name="is_persen"]').change(function() {
      var isPersen = $('input[name="is_persen"]:checked').val();
      var currentPrice = $('#price').val();
      
      if (isPersen == '1') {
        // If "YES" is selected, treat as percentage
        $('#price-label').text('Percentage %');
        $('#price').attr('placeholder', 'Enter percentage').val('').focus();
        $('#percentage-symbol').show();  // Show the % symbol
      } else {
        // If "NO" is selected, treat as regular price
        $('#price-label').text('Price');
        $('#price').attr('placeholder', 'Enter price').val('').focus();
        $('#percentage-symbol').hide();  // Hide the % symbol
      }
      $('#price').val(currentPrice);
    });
  }
  //simpan
  function simpan() {
    var id_extragroup = $("[name='id_extragroup']").val();
    var id = $("[name='id']").val();
    var extracharge_type = $("[name='extracharge_type']").val();
    var nama_extracharge = $("[name='nama_extracharge']").val();
    var is_persen = $("input[name='is_persen']:checked").val();
    var price = $("[name='price']").val();
    var status = $("[name='status']").val();
    var url = id ? "<%= url %>editcharge" : "<%= url %>simpancharge";
    var formData = {
      id: id,
      id_extragroup: id_extragroup,
      extracharge_type: extracharge_type,
      nama_extracharge: nama_extracharge,
      is_persen: is_persen,
      price: price,
      status: status,
    };

    $.ajax({
      url: url,
      type: "post",
      data: formData,
      success: function (data) {
        Swal.fire({
          title: "Success",
          text: "Data has been " + (id ? "updated" : "saved"),
          icon: "success",
          position: "top-end",
          showConfirmButton: false,
          timer: 1500,
        });
        $(".modal-simpan").modal("hide");
        list();
      },
      error: function (data) {
        console.log(data);
      },
    });
  }
  function extracharge_group(id = "") {
    var url = "<%= url %>listcharge_group";
    $("[name='id_extragroup']").empty(); // Clear existing options

    $.ajax({
      url: url,
      type: "post",
      success: function (row) {
        $.each(row.data, function (key, val) {
          if (val.status !== 0) {
            var o = $("<option/>", { value: val.id, text: val.extracharge_group });
            $("[name='id_extragroup']").append(o);
          }
        });
        if (id) {
          $("[name='id_extragroup']").val(id).trigger("change");
        }
      },
    });
  }

  //list
  function list() {
    $(".loadingdata").show();
    var html = "";
    $.ajax({
      url: "<%= url %>listcharge",
      type: "POST",
      dataType: "json",
      success: function (result) {
        var val = result.data;
        if (result.jml > 0) {
          html += "<table class='table table-hover'>";
          html += "<thead>";
          html += "<tr class='bg-navy'>";
          html += "<th width='50px'>No.</th>";
          html += "<th>EXTRACHARGE NAME</th>";
          html += "<th>EXTRACHARGE GROUP</th>";
          html += "<th>EXTRACHARGE TYPE</th>";
          html += "<th>Price</th>";
          html += "<th>Status</th>";
          html += "</tr>";
          html += "</thead>";
          html += "<tbody>";

          $.each(val, function (i, row) {
            html += "<tr id='data' kode='" + row.id + "'>";
            html += "<td>" + (i + 1) + "</td>";
            html += "<td>" + row.nama_extracharge + "</td>";
            html += "<td>" + row.nama_extragroup + "</td>";
            html += "<td>" + row.extracharge_type + "</td>";
            html += "<td>" + (row.is_persen == 1 ?  row.price + "<span>%</span>" : "Rp." + number_format(row.price, 0, ",", ".")) + "</td>";
            html +=
              "<td>" +
              (row.status == 1
                ? "<label class='badge label label-success'>AKTIF</label>"
                : "<label class='badge label label-danger'>NON AKTIF</label>") +
              "</td>";
            html += "</tr>";
          });

          html += "</tbody>";
          html += "</table>";
        } else {
          html += "<div class='alert alert-warning'>Data tidak ditemukan</div>";
        }

        $(".list").html(html);
        $(".loadingdata").hide();
      },
      error: function (error) {
        console.log("Error:", error);
        $(".loadingdata").hide();
        $(".list").html(
          "<div class='alert alert-danger'>Gagal memuat data.</div>"
        );
      },
    });
  }
  // Format number function

</script>
<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">&nbsp;Room Extra Charge Group</h3>
        <div class="box-tools pull-right">
          <button class="add no-border btn-success btn-sm">
            <i class="fa fa-plus"></i>&nbsp;Add
          </button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="clearfix">&nbsp;</div>
          <div class="col-xs-12">
            <div class="list table-responsive"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-simpan no-print" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
        <h4 class="modal-title">
          <i class="icon fa fa-warning"></i>&nbsp;&nbsp;Floor
        </h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-md-8">
              <input type="hidden" name="id" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">extracharge_group</label>
            <div class="col-md-9">
              <select class="form-control" name="id_extragroup"></select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">extracharge_type</label>
            <div class="col-md-9">
              <select class="form-control" name="extracharge_type">
                <option value="Reoccuring">Reoccuring</option>
                <option value="One Time Charge">One Time Charge</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Nama Extracharge</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="nama_extracharge">
            </div>
        </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="is_persen">Is Persen</label>
            <div class="col-md-9">
              <div class="radio-inline">
                <label>
                  <input type="radio" name="is_persen" value="0" class="is_persen"> NO
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="is_persen" value="1" class="is_persen"> YES
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" id="price-label">Price</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="price" id="price" />
              <div class="input-group-append" id="percentage-symbol" style="display: none;">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Status</label>
            <div class="col-md-9">
              <select class="form-control" name="status">
                <option value="1">AKTIF</option>
                <option value="0">NON AKTIF</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <button class="simpan btn bg-blue">
            <i class="fa fa-save"></i>&nbsp;Save
          </button>
          <button class="hapus btn bg-red">
            <i class="fa fa-minus"></i>&nbsp;Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
