<script type="text/javascript">
  $(document).ready(function(){
    var formattgl = "dd-mm-yy";
    $("[name='start_tgl'],[name='end_tgl']").datepicker({
      dateFormat: formattgl,
    });
    list();
    $(".add").click(function(){
      $(".modal-simpan").modal("show");
      $("[name='id']").val("");
    })
    $(".simpan").click(function(){
      simpan();
    })
    $(".hapus").click(function(){
      var id = $("[name='id']").val()
      Swal.fire({
        title: "Do you want to delete?",
        showCancelButton: true,
        confirmButtonText: "Yes",
      }).then((result) => {
        if (result.isConfirmed) {
          hapus(id)
          Swal.fire("Saved!", "", "success");
        }
      });
    })
    $(".list").on("click","tr#data",function(){
      var id = $(this).attr("kode");
      detail(id);
    })
  });
  function formatDate(date,jenis) {
				date = date.split("-");
        month = date[1];
        day = date[0];
        year = date[2];

    if (month.length < 2)
        month = '0' + month;
    if (day.length < 2)
        day = '0' + day;
		if (jenis==1)
    	return [year, month, day].join('-');
		else
			return [day, month, year].join('-');
	}
  function simpan(){
    var nama_sessions = $("[name='nama_sessions']").val();
    var start_tgl = $("[name='start_tgl']").val();
    var end_tgl = $("[name='end_tgl']").val();
    var id = $("[name='id']").val();
    var status = $("[name='status']").val();
    if (id!=""){
      var url = '<%= url %>editsessions';
    } else {
      var url = '<%= url %>simpansessions';
    }
    var formData = {
      id : id,
      nama_sessions: nama_sessions,
      start_tgl: formatDate(start_tgl,1),
      end_tgl: formatDate(end_tgl,1),
      status: status
		}
		$.ajax({
        url: url,
        type: 'post',
        data: formData,
        success: function (data) {
					Swal.fire({
					  title: "Berhasil",
					  text: "Data berhasil "+(id=="" ? "disimpan" : "diedit"),
					  icon: "success",
            position: "top-end",
            showConfirmButton: false,
            timer: 1500
					});
          $(".modal-simpan").modal("hide");
        },
        error: function (data) {
          console.log(data)
        }
    }).done(function(){
      list();
    })
  }
  function detail(id){
    var url = '<%= url %>detailsessions';
    var formData = {
      id : id
		}
		$.ajax({
        url: url,
        type: 'get',
        data: formData,
        success: function (row) {
          var val = row.data[0];
          console.log(val);
					$("[name='id']").val(val.id);
          $("[name='nama_sessions']").val(val.nama_sessions);
          $("[name='start_tgl']").val(formatDate(val.start_tgl,1));
          $("[name='end_tgl']").val(formatDate(val.end_tgl,1));
          $("[name='status'] option[value='" + val.status + "']").prop('selected',true);
          $(".modal-simpan").modal("show");
        },
        error: function (data) {
          console.log(data)
        }
    })
  }
  function hapus(id){
    var url = '<%= url %>hapussessions';
    var formData = {
      id : id
		}
		$.ajax({
        url: url,
        type: 'post',
        data: formData,
        success: function (row) {
          Swal.fire({
            position: "top-end",
					  title: "Berhasil",
					  text: "Data berhasil dihapus",
					  icon: "info",
            showConfirmButton: false,
            timer: 1500
					});
          list();
          $(".modal-simpan").modal("hide");
        },
        error: function (data) {
          console.log(data)
        }
    })
  }
  function list(){
    $(".loadingdata").show();
    var html = "";
		$.ajax({
				url: '<%= url %>listsessions',
				type: 'post',
				success: function (result) {
					var val = result.data;
          console.log(val);
          if (result.jml>0){
            html += "<table class='table table-hover'>";
            html += "<thead>";
            html += "<tr class='bg-navy'>";
            html += "<th width='50px'>No.</th>";
            html += "<th>Nama Sessions</th>";
            html += "<th class='text-center' width=320px>Start Date</th>";
            html += "<th class='text-center' width=320px>End Date</th>";
            html += "<th width='100px'>Status</th>";
            html += "</thead>";
            html += "<tbody>";
            $.each(val,function(i,row){
              console.log(row);
              html += "<tr id='data' kode='"+row.id+"'>";
              html += "<td>"+(i+1)+"</td>";
              html += "<td>"+row.nama_sessions+"</td>";
              html += "<td class='text-center'>"+formatDate(row.start_tgl,1)+"</td>";
              html += "<td class='text-center'>"+formatDate(row.end_tgl,1)+"</td>";
              html += "<td>"+(row.status==1 ? "<label class='badge label label-success'>AKTIF</label>" : "<label class='badge label label-danger'>NON AKTIF</label>")+"</td>";
              html += "</tr>";
            });
            html += "</tbody>";
            html += "</table>";
          } else {
            html += "<div class='alert alert-warning'>Data tidak ditemukan</div>";
          }
          $(".list").html(html);
					console.log(val);
				},
				error: function(data){
					console.log(data);
				}
		});
  }
</script>
<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
			<div class="box-header with-border">
        <h3 class="box-title">&nbsp;Sessions</h3>
        <div class="box-tools pull-right">
            <button class="add no-border btn-success btn-sm"><i class="fa fa-plus"></i>&nbsp;Add</button>
        </div>
      </div>
			<div class="box-body">
        <div class="row">
          <div class="clearfix">&nbsp;</div>
				  <div class="col-xs-12">
            <div class="list table-responsive"></div>
          </div>
        </div>
      </div>
		</div>
	</div>
</div>
<div class='modal modal-simpan no-print' role="dialog">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class='modal-title'><i class="icon fa fa-warning"></i>&nbsp;&nbsp;Sessions</h4>
            </div>
            <div class='modal-body'>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-8">
                            <input type="hidden" name="id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Nama Sessions</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="nama_sessions">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Start Date</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="start_tgl">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">End Date</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="end_tgl">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Status</label>
                        <div class="col-md-9">
                            <select class="form-control" name="status">
                              <option value="1">AKTIF</option>
                              <option value="0">NON AKTIF</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <div class="pull-right">
                    <button class="simpan btn bg-blue"><i class="fa fa-save"></i>&nbsp;Save</button>
                    <button class="hapus btn bg-red"><i class="fa fa-minus"></i>&nbsp;Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
